# .gitignore
.env

# ignore node modules
node_modules

venv
.venv
client_secret_840737787220-5c3edmmdk6tebrce43phd3icn00r1v4r.apps.googleusercontent.com

# db
db.sqlite3

# pycache
__pycache__

# Django
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# css or js builders
static
!project/theme/static
static_src
staticfiles

# macOS
.DS_Store

# PyCharm
.idea/

# VS Code
.vscode/

images
