{% extends 'layout.html' %}
{% load widget_tweaks %}
{% block content %}
<form method="post" enctype="multipart/form-data" class="registration-form w-full flex justify-center items-center h-[80vh]">
    {% csrf_token %}
    <div class="w-9/12 bg-gray-200 p-4">
        <div class="flex justify-between py-2">
            <a class="text-sm text-gray-500" href="{% url 'home' %}">
                <svg
                    width="27"
                    height="27"
                    viewBox="0 0 27 27"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path d="M5.90625 12.6562H22.7812C23.005 12.6562 23.2196 12.7451 23.3779 12.9034C23.5361 13.0616 23.625 13.2762 23.625 13.5C23.625 13.7238 23.5361 13.9384 23.3779 14.0966C23.2196 14.2549 23.005 14.3438 22.7812 14.3438H5.90625C5.68247 14.3438 5.46786 14.2549 5.30963 14.0966C5.1514 13.9384 5.0625 13.7238 5.0625 13.5C5.0625 13.2762 5.1514 13.0616 5.30963 12.9034C5.46786 12.7451 5.68247 12.6562 5.90625 12.6562Z" fill="#52525C"/>
                    <path d="M6.25561 13.5L13.2537 20.4964C13.4121 20.6548 13.5011 20.8697 13.5011 21.0937C13.5011 21.3178 13.4121 21.5327 13.2537 21.6911C13.0952 21.8496 12.8804 21.9386 12.6563 21.9386C12.4322 21.9386 12.2174 21.8496 12.0589 21.6911L4.46517 14.0974C4.38659 14.019 4.32425 13.9259 4.28172 13.8234C4.23918 13.7209 4.21729 13.611 4.21729 13.5C4.21729 13.389 4.23918 13.2791 4.28172 13.1766C4.32425 13.0741 4.38659 12.981 4.46517 12.9026L12.0589 5.30887C12.2174 5.15044 12.4322 5.06143 12.6563 5.06143C12.8804 5.06143 13.0952 5.15044 13.2537 5.30887C13.4121 5.46731 13.5011 5.68219 13.5011 5.90625C13.5011 6.13031 13.4121 6.34519 13.2537 6.50362L6.25561 13.5Z" fill="#52525C"/>
                </svg>
            </a>
            <a class="text-sm text-gray-500" href="{% url 'password_reset' %}">Cambiar contraseña</a>
        </div>
        <div class="flex flex-col items-center justify-center ">
            <p class="text-sm text-gray-500">Foto de Perfil</p>
            <div class="w-28 h-28 rounded-full bg-gray-200 overflow-hidden cursor-pointer mb-4 hover:bg-gray-300 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 z-10">
                <div class="flex items-center justify-center h-28 w-full hover:bg-gray-300 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
                    <label for="id_img" class="block w-full cursor-pointer rounded-full text-center ">
                        <input
                            type="file"
                            name="img"
                            id="id_img"
                            class="hidden"
                            accept="image/*"
                            aria-label="Upload image"
                            aria-describedby="img-upload-help-text"
                            onchange="previewImage(event)"
                        >
                        <img
                            id="preview"
                            src="{{ form.instance.img.url|default:'' }}"
                            alt="Image preview"
                            class="w-full h-full rounded-full object-cover {% if form.instance.img %}display-block{% else %}display-none{% endif %}"
                            style="object-fit: cover; width: 100%; height: 100%;"
                        >
                        <span id="img-upload-help-text" class="text-sm text-gray-500" {% if form.instance.img %}style="display: none;"{% endif %}>Upload your profile image</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="flex mb-4 w-full">
            <div class="flex flex-col w-full">
                <label for="{{ form.email.id_for_label }}" class="ml-4 block text-sm font-bold mb-2">{{ form.email.label }}</label>
                {{ form.email|add_class:"w-full shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" }}
                {% if form.email.errors %}
                <div class="text-red-500 text-xs mt-2">{{ form.email.errors|join:", " }}</div>
                {% endif %}
            </div>
        </div>
        <div class="flex mb-4 w-full">
            <div class="flex flex-col w-1/2 m-2">
                <label for="{{ form.name.id_for_label }}" class="ml-4 block text-sm font-bold mb-2">{{ form.name.label }}</label>
                {{ form.name|add_class:"w-full shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" }}
                {% if form.name.errors %}
                <div class="text-red-500 text-xs mt-2">{{ form.name.errors|join:", " }}</div>
                {% endif %}
            </div>
            <div class="flex flex-col w-1/2 m-2">
                <label for="{{ form.lastname.id_for_label }}" class="ml-4 block text-sm font-bold mb-2">{{ form.lastname.label }}</label>
                {{ form.lastname|add_class:"w-full shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" }}
                {% if form.lastname.errors %}
                <div class="text-red-500 text-xs mt-2">{{ form.lastname.errors|join:", " }}</div>
                {% endif %}
            </div>
        </div>
        <div class="flex justify-end">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M12.5 5.00001L15 7.50001M10.8334 16.6667H17.5M4.16671 13.3333L3.33337 16.6667L6.66671 15.8333L16.3217 6.17835C16.6342 5.8658 16.8097 5.44195 16.8097 5.00001C16.8097 4.55807 16.6342 4.13423 16.3217 3.82168L16.1784 3.67835C15.8658 3.36589 15.442 3.19037 15 3.19037C14.5581 3.19037 14.1343 3.36589 13.8217 3.67835L4.16671 13.3333Z"
                        stroke="black"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </button>
        </div>
    </div>
</form>
<script>
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function(){
            var output = document.getElementById('preview');
            var help_text = document.getElementById('img-upload-help-text');
            output.src = reader.result;
            output.style.display = 'block';
            help_text.style.display = 'none';
        };
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
{% endblock %}
