{% extends 'layout.html' %}
{% load widget_tweaks %}
{% block content %}
<form method="post" enctype="multipart/form-data" class="registration-form w-full flex justify-center items-center h-[80vh]">
    {% csrf_token %}
    <div class="w-9/12 bg-gray-200 p-4">
        <div class="flex justify-between py-2">
            <p class="text-sm text-gray-500">INCONO ATRAS</p>
            <a class="text-sm text-gray-500" href="{% url 'password_reset' %}">Cambiar contraseña</a>
        </div>
        <div class="flex flex-col items-center justify-center ">
            <p class="text-sm text-gray-500">Foto de Perfil</p>
            <div class="w-28 h-28 rounded-full bg-gray-200 overflow-hidden cursor-pointer mb-4 hover:bg-gray-300 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 z-10">
                <div class="flex items-center justify-center h-28 w-full hover:bg-gray-300 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
                    <label for="id_img" class="block w-full cursor-pointer rounded-full text-center ">
                        <input
                            type="file"
                            name="img"
                            id="id_img"
                            class="hidden"
                            accept="image/*"
                            aria-label="Upload image"
                            aria-describedby="img-upload-help-text"
                            onchange="previewImage(event)"
                        >
                        <img
                            id="preview"
                            src="{{ form.instance.img.url|default:'' }}"
                            alt="Image preview"
                            class="w-full h-full rounded-full object-cover {% if form.instance.img %}display-block{% else %}display-none{% endif %}"
                            style="object-fit: cover; width: 100%; height: 100%;"
                        >
                        <span id="img-upload-help-text" class="text-sm text-gray-500" {% if form.instance.img %}style="display: none;"{% endif %}>Upload your profile image</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="flex mb-4 w-full">
            <div class="flex flex-col w-full">
                <label for="{{ form.email.id_for_label }}" class="ml-4 block text-sm font-bold mb-2">{{ form.email.label }}</label>
                {{ form.email|add_class:"w-full shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" }}
                {% if form.email.errors %}
                <div class="text-red-500 text-xs mt-2">{{ form.email.errors|join:", " }}</div>
                {% endif %}
            </div>
        </div>
        <div class="flex mb-4 w-full">
            <div class="flex flex-col w-1/2 m-2">
                <label for="{{ form.name.id_for_label }}" class="ml-4 block text-sm font-bold mb-2">{{ form.name.label }}</label>
                {{ form.name|add_class:"w-full shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" }}
                {% if form.name.errors %}
                <div class="text-red-500 text-xs mt-2">{{ form.name.errors|join:", " }}</div>
                {% endif %}
            </div>
            <div class="flex flex-col w-1/2 m-2">
                <label for="{{ form.lastname.id_for_label }}" class="ml-4 block text-sm font-bold mb-2">{{ form.lastname.label }}</label>
                {{ form.lastname|add_class:"w-full shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" }}
                {% if form.lastname.errors %}
                <div class="text-red-500 text-xs mt-2">{{ form.lastname.errors|join:", " }}</div>
                {% endif %}
            </div>
        </div>
        <div class="flex justify-end">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Editar</button>
        </div>
    </div>
</form>
<script>
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function(){
            var output = document.getElementById('preview');
            var help_text = document.getElementById('img-upload-help-text');
            output.src = reader.result;
            output.style.display = 'block';
            help_text.style.display = 'none';
        };
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
{% endblock %}
