{% extends 'layout.html' %}
{% block content %}
<div>
    <nav class="p-2">
        <a class="flex items-center gap-2" href="{% url 'create_publication' %}">
            <svg
                width="19"
                height="19"
                viewBox="0 0 19 19"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <g clip-path="url(#clip0_2_427)">
                    <path
                        d="M9.5 17.8125C14.0909 17.8125 17.8125 14.0909 17.8125 9.5C17.8125 4.90913 14.0909 1.1875 9.5 1.1875C4.90913 1.1875 1.1875 4.90913 1.1875 9.5C1.1875 14.0909 4.90913 17.8125 9.5 17.8125Z"
                        stroke="black"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M5.9375 9.5H13.0625"
                        stroke="black"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M9.5 5.9375V13.0625"
                        stroke="black"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </g>
                <defs>
                    <clipPath id="clip0_2_427">
                        <rect width="19" height="19" fill="white"/>
                    </clipPath>
                </defs>
            </svg>
            Agregar publicación
        </a>
    </nav>
    <main class="container mx-auto px-4 py-8 w-full flex justify-center items-center">
        <section class="flex flex-col md:w-1/2 gap-4">
            {% for publication in publications %}
            <article class="p-4 rounded-md shadow-md bg-white hover:shadow-lg">
                <a href="{% url 'publication_detail' pk=publication.id %}">
                    <div class="flex items-center mb-2">
                        {% if publication.author_id.img %}
                        <img src="{{ publication.author_id.img.url }}" alt="{{ publication.author_id.img.alt_text }}" class="w-12 h-12 rounded-full object-cover">
                        {% endif %}
                        <div class="ml-4">
                            <h3 class="text-gray-800 font-bold">{{ publication.author_id.name }} {{ publication.author_id.lastname }}</h3>
                            <p class="text-gray-600">{{ publication.created_at }}</p>
                        </div>
                    </div>
                    <img src="{{ publication.image.url }}" alt="{{ publication.image.alt_text }}" class="w-full rounded-t-md">
                    <div class="p-4">
                        <h2 class="text-lg font-bold text-gray-800">{{ publication.title }}</h2>
                        <p class="text-gray-600">{{ publication.content }}</p>
                    </div>
                </a>
            </article>
            {% endfor %}
        </section>
    </main>
    <div class="container mx-auto px-4 py-4 flex justify-center">
        <ul class="pagination flex w-full justify-end list-none">
            {% if publications.has_previous %}
            <li class="mr-2">
                <a href="?page={{ publications.previous_page_number }}" class="px-3 py-2 rounded-md bg-gray-200 hover:bg-gray-300 text-gray-600">Página anterior</a>
            </li>
            {% endif %}
          {% for page_number in publications.paginator.page_range %}
            <li class="mr-2">
                {% if page_number == publications.number %}
                <span class="px-3 py-2 rounded-md bg-blue-500 text-white">{{ page_number }}</span>
                {% else %}
                <a href="?page={{ page_number }}" class="px-3 py-2 rounded-md bg-gray-200 hover:bg-gray-300 text-gray-600">{{ page_number }}</a>
                {% endif %}
            </li>
            {% endfor %}
          {% if publications.has_next %}
            <li>
                <a href="?page={{ publications.next_page_number }}" class="px-3 py-2 rounded-md bg-gray-200 hover:bg-gray-300 text-gray-600">Página siguiente</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}
