{% extends 'layout.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="w-full h-[80vh] flex flex-col items-center justify-center">
    <div class="w-9/12 bg-gray-200 flex flex-col items-center justify-center p-4">
        <h2 class="text-2xl font-bold my-4">Iniciar sesión</h2>
        <div class="w-9/12 p-4">
            <form method="post" class="w-full flex justify-center">
                {% csrf_token %}
                <div class="w-9/12 flex flex-col items-center justify-center">
                    <div class="flex mb-4 w-full">
                        <div class="flex flex-col w-full">
                            <label for="{{ form.email.id_for_label }}" class="ml-4 block text-sm font-bold mb-2">{{ form.email.label }}</label>
                            {{ form.email|add_class:"w-full shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" }}
                            {% if form.email.errors %}
                                <div class="text-red-500 text-xs mt-2">{{ form.email.errors|join:", " }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="flex mb-4 w-full">
                        <div class="flex flex-col w-full">
                            <label for="{{ form.password.id_for_label }}" class="ml-4 block text-sm font-bold mb-2">{{ form.password.label }}</label>
                            {{ form.password|add_class:"w-full shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" }}
                            {% if form.password.errors %}
                                <div class="text-red-500 text-xs mt-2">{{ form.password.errors|join:", " }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <a class="w-full pb-2" href="{% url 'forgot_password' %}">Recuperar contraseña</a>
                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Iniciar sesión</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
